h1 {
    color:    #000000;
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

p {
    color:    #000000;
    text-align: left;
    font-size: 18px;
}
p img {
    display: block;
    margin: auto;
    text-align: center;
}

body{
    width:1000px;
    margin:0px auto;
    background-color: rgb(255, 255, 255);
}

img {
    width: 500px;
    height: 450px;
    text-align: center;
}

.menuhorizontal {
    overflow: hidden;
    background-color: rgb(117, 117, 117);
    position: fixed; 
    top: 0;
    width: 100%;
    display: inline;
  }

  .menuhorizontal a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }