.datosper {
    background-color: rgb(196, 196, 196);
}

h1 {
    text-align: center;
    color: black;
}

.Opiniones {
    background-color: rgb(196, 196, 196);
}

.FechaEncuesta {
    background-color: rgb(196, 196, 196));
}

.enviarf {
    background-color: rgb(196, 196, 196);
}

fieldset {
    background-color: rgb(221, 221, 221);
}