h1 {
    color:    #000000;
    text-align: center;
    font-size: 50px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    color:    #000000;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    width: 1000px;
}


body{
    
    margin:0px auto;
    background-color: rgb(233, 233, 233);
}

img {
    width: 500px;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.menuhorizontal {
    overflow: hidden;
    background-color: rgb(117, 117, 117);
    position: fixed; 
    top: 0;
    width: 100%;
    display: block;
  }

  .menuhorizontal a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }