<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="static/style2.css">

</head>
<body>
    <div class="menuhorizontal">
        <a href="/formulario">Encuesta</a>
        <a href="/webPF.py">Página principal</a>
        <a href="/delete_email">Cerrar sesión</a>
      </div>
      
      <div class="main">
      </div>
    <br><br>
    <h1>About Me</h1>
    <h2>Ejemplos de otros trabajos en flask</h2>
    <img src="static" alt="Descripción gráfica: ">
    <p> </p>
    <br>
</body>
</html>