<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página web</title>
    <link rel="stylesheet" type="text/css" href="../static/style2.css">

</head>
<body>
    <div class="menuhorizontal">
        <a href="/getmail">Iniciar sesión</a>
        <a href="/addmail">Registrarse</a>
      </div>
      
      <div class="main">
      </div>
    <br><br>
    <h1>¡Noticias de última hora!</h1>
    <h3>Regístrate para acceder a noticias exclusivas</h3>
    <h2>Se lleva el susto de su vida al confundir una bolsa de la compra con un león</h2>
    <img src="/static/leon.PNG" alt="El león en cuestión: ">
    <p>Un hombre identificó a un león en los arbustos de la parte trasera de su casa. El animal parecía tranquilo, pero al no saber cuando iba a atacar, el señor decidió llamar a los servicios de emergencia para dar aviso de lo que había visto. <br>
        El Servicio de Vida Silvestre de Kenia llegó al lugar lo más rápido posible para rescatar al animal y que nadie resultase herido ante un posible ataque de la fiera. <br> 
        Tras acercarse con cuidado a los arbustos donde estaba agazapado, los profesionales se dieron cuenta de que, por raro que suene, era una falsa alarma. 
        Más que un león real, era la cara de este animal impresa en una bolsa de supermercado. 
    </p>

    <h2>La mujer que afirma que se quedó embarazada por una ráfaga de viento</h2>
    <img src="static/embarazo.PNG" alt="no se">
    <p> La mujer de 25 años y procedente de Cianjur, Java Occidental (Indonesia) aseguraba no saber que estaba embarazada, y dio a luz a un bebé, de forma natural. 
        Pero, ante la sorpresa de todos, aseguró que se quedó embarazada solo una hora antes por una ráfaga de viento. 
        "Un momento después, mi estómago se hinchó, luego volvió a la normalidad y después volvió a crecer", explicó.
    </p>
</body>
</html>
