<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página web</title>
    <link rel="stylesheet" type="text/css" href="css/style2.css">

</head>
<body>
    <div class="menuhorizontal">
        <a href="formularioPF2.html">Encuesta</a>
        <a href="#falta">About Me</a>
        <a href="#informacion">Cerrar sesión</a>
      </div>
      
      <div class="main">
      </div>

    <h1>¡Noticias de última hora!</h1>
    <h2>¡¡¡Taylor Swift contamina!!!</h2>
    <img src="img/taylor.PNG" alt="Descripción gráfica: ">
    <p>Taylor Swift ha emitido durante tres meses hasta 138 toneladas de CO2. Una cifra que equivale a lo que contamina un español medio en unos 25 años.
    Sin embargo, Swift no ha estado de acuerdo con que se compartan estos "datos privados" que pueden ponerla en supuesto "peligro". 
    De esta forma, ha amenazado a uno de sus fans por ponerla en el ojo del huracán y a la cabeza de la lista de artistas que más contaminan en este momento con sus traslados en jet privado. 
    Sin embargo, la realidad que esconde la artista son estos datos que ha intentado ocultar. </p>

    <h2>Pez se vuelve en pez Baguette</h2>
    <img src="img/pez1.PNG" alt="Pez antes del cambio">
    <p>En el océano pacífico se ha encontrado un ejemplar de pez que se transforma, ¡como si fuera un Gormiti! se ha convertido en un pez Baguette. 
        Los científicos están investigando el motivo por el cual el pez se ha podido transformar, y han culpado a Taylor Swift por contaminar demasiado,
        y ha alterado a la forma de los peces. Ahora mismo el pez se identifica como un pez francés y su sueño es ir nadando hasta Francia. ¡Buena suerte pececito!
    </p>
    <img src="img/pezbaguette.png" alt="Pez despues del cambio">
</body>
</html>
